@{
    ViewBag.Title = "Dashboard";
}
@Layout
  <!-- fullCalendar -->
<link rel="stylesheet" href="~/Content/bower_components/fullcalendar/dist/fullcalendar.min.css">
<link rel="stylesheet" href="~/Content/bower_components/fullcalendar/dist/fullcalendar.css" media="print">
<div class="content-wrapper">
    <section class="content-header">
        <h1>Dashboard</h1>
    </section>
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>90</h3>
                        <p>Service Requests</p>
                    </div>
                    <div class="icon">
                        <i class="ion-ios-information"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
                    </div>

    </section>

</div>